.bulb_image{
  background-image: url(images/clear-light-bulb-planter-on-gray-rock.jpg);
  height:50%;
  background-size:cover;
 
}

.feed__status {
  width: 90%;
  margin: 1rem auto;
}

.feed__status form {
  display: flex;
  align-items: center;
}

.feed__status form * {
  margin: 0 0.5rem;
}

.feed__control {
  text-align: center;
}

.new-post__preview-image {
  width: 15rem;
  height: 7rem;
}
.ewaste_counter{
  padding-top: 10%;
  align-items: center;
  
}


.feed__title{
  align-items: left;
  padding-left: 5%;
  font-size: 2.5rem;
  color: #182b10;
}
.feed__video_title{
  font-size: 3rem;
  margin: 0rem 0rem 4rem 2rem;
  color: #182b10;
}

.feed__video_title_a{
  font-size: 3rem;
  margin: 6rem 0rem 4rem 2rem;
  color: #182b10;
}
.feed__video_content{
  font-size: 150%;
  text-align: justify;
  margin : 4rem 8rem 4rem 8rem;
  line-height: 3rem;
  padding-left: 2rem;
}

@media (min-width: 768px) {
  .feed__status {
    width: 30rem;
  }
}
