
.ewaste_counter{
    align-items: left;
}
.progress__head{
    align-items: center;
    padding-left: 42%;
    font-size: 4rem;
    margin: 1rem 0;
    color: #182b10;
}

.progress__explanation{
    text-align: center;
    padding-left: 3%;
}
.progress__explanation_a{
    text-align: center;
    padding-left: 2%;
}
iframe{
    display: block;
    margin: 0 auto;
}


p {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.
@media (min-width: 768px) {
    .feed__status {
        width: 30rem;
    }   
}
